.header {
    background-color: #fff;
    width: 100%;
}

.container {
    width: 1280px;
    background-color: #fff;
    height: 69.5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 106px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 'bold';
    font-style: normal;
    font-stretch: normal;
    padding-left: 10px;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
}

.search {
    width: 273px;
    height: 49.5px;
    align-items: center;
    display: flex;
}

.search-input{
    width: 273px;
    height: 49.5px;
    background-color: #F5F5F5;  
    border: 1px solid #E6E6E6;
    border-radius: 25px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 'normal';
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}

.search-icon {
    position: absolute;
    margin-left: 20px;
    top: 25px;
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profile{
    margin-left: 10px;
    height: 34px;
    width: 34px;
    background-color: #000000;
    border-radius: 100%;
}

@media screen and (max-width: 800px) {
    .header{
        width: 100%;
        background-color: #fff;
    }
    .container {
        width: auto;
        padding-left: 20px;
        padding-right:20px;
    }
    .search {
        width: 150px;
        height: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .search-input {
        width: 100%;
        height: 100%;
    }
}