.popular-users {
    width: 260px;
    
}

.popular-users-header {
    background-color: #16232C;
    height: 50px;
    line-height: 50px;
}

.popular-users-header h2 {
    color: #fff;
    font: normal normal normal 14px/19px Open Sans;
    line-height: 50px;
    padding-left: 26px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.popular-users-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 18px;
    justify-content:flex-start;
    padding-left: 25px;
    height: 64.25px;
    border-bottom: 1px solid #f5f5f5;
}
.user .avatar {
    border-radius: 100%;
    height: 36px;
    width: 36px;
}
.user .right{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.user .right .username{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Ope Sans', sans-serif;
    color: #000;
}
.user .right .entry-count {
    font-size: 12px;
    font-weight: 200;
    color: #9B9B9B;
}

@media screen and (max-width: 800px) {
    .popular-users {
        width: 100%;
    }    
}