.posts {
    width: 460px;
    overflow: hidden;
}
.post {
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    height: fit-content;
}

.post .dots {
    height: 10px;
}

.post .left {
    float: left;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.post .post-image {
    width: 286px;
    height: 163px;
    border-radius:10px;
    max-width: 460px;
    margin-top: 23px;
}

.post .top {
    display: flex;
    padding: 17px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.post .top .avatar{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    padding-right: 10px;
}

.post .center {
    padding-left: 57px;
}
.post .top .dots {
    height: 19px;
    width: 4px;
    margin-right: 10px;
}
.post .top .left .date {
    font-size: 13px;
    color: #AAAAAA;
}

.post .bottom {
    padding-left: 57px;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 100%;
}

.post .downvote {
    padding-left: 23px;
    padding-right: 23px;   
}

.post .bottom span {
    font-size: 13px;
    color: #AAAAAA;
}
.post .bottom .row {
    align-items: center;
    justify-content: center;
}
.post .bottom img {
    width: 10px;
    height: 11px;
}


.reply-comp {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.reply-comp input{   
    width: 100%;
    border: none;
    color: #AAAAAA;
    font-size: 14px;
}

.reply-comp img{
    height: 30px;
    width: 26px;
}

.comment {
   width: 80%;
    margin-left: 50px;
}
.comment-count-container{
    padding-left: 57px;
}
.comment-count-container img {
    width: 18px;
}
.comment-count-container span {
    font-size: 13px;
    color: #03B425;
}
@media screen and (max-width: 800px) {
    .posts {
        width: auto;
    }
    .post {
        width: 100%;
        margin-bottom: 10px;
        height: fit-content;
    }
    .post .left {
        float: none;
        background-color: #fff;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    .post .post-image {
        width: 286px;
        height: 163px;
        border-radius:10px;
        max-width: 460px;
        margin-top: 23px;
    }
    .post .top {
        display: flex;
        padding: 17px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}