body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
 
}

*{
    margin: 0;
    padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}